/*------------------------------------------------- *\
#GOOGLE FONTS
\*------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&family=Roboto+Mono:ital,wght@0,400;1,600&display=swap');


/*------------------------------------------------- *\
#CSS VARIABLE
\*------------------------------------------------- */

:root{
    --preto: #000000;
    --branco: #ffffff;
    --vermelho1: #650404;
    --vermelho2: #BD0A0A;
    --vermelho3: #FF3737;
    --vermelho4: #FFD6D6;


    --normal: 'M PLUS Rounded 1c', sans-serif;
    --bold: 'Roboto Mono', monospace;
}

/*------------------------------------------------- *\
#RESEAT
\*------------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

/*------------------------------------------------- *\
#CSS CLASSES
\*------------------------------------------------- */
.nav_container{
    max-width: 1000px;
    height: 65px;
    margin: 0 auto;
    padding: 0 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
}

.nav_logo {
    display: flex;
    align-items: center;
    color: var(--preto);
}
.nav_logo-img{
    max-width: 30px;
    max-height: 30px;
}

.nav_list{
    display: flex;
}

/* BUTTON */

.nav_link_sign-in {
    margin-right: 20px;
    color: var(--preto);
}
.nav_link_sign-in i{
    position: relative;
}

.nav_link_sign-in:hover{
    color: var(--vermelho1);
}

.btn_get-started{
    color: var(--branco);
    font-weight: bold;
    background-color: var(--vermelho3);
    display: inline-block;
    padding: 10px 15px;
    border-radius: 4px;
    transition: 0.3s;
}
.btn_get-started:hover{
    background-color: var(--vermelho1);
    color: var(--branco);
}



/*------------------------------------------------- *\
#HEADER
\*------------------------------------------------- */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.nav_items{
    display: inline-block;
}

.nav_link{
    color: var(--preto);
    font-size: 18px;

    font-weight: bold;
    margin-right: 30px;
    transition: 0.3s;
}
.nav_link:hover{
    color: var(--vermelho3);
}

.nav_btns{
    margin-left: auto;
    display: flex;
    align-items: center;
}

/*------------------------------------------------- *\
#CLOSE 
\*------------------------------------------------- */

.nav_close{
    display: none;
}
.nav_toggle{
    display: none;
}

/* #ACTIVE LINK */
.active-link{
    color: var(--vermelho3);
}




/*------------------------------------------------- *\
#HOME
\*------------------------------------------------- */

.home{
    margin-top: 60px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_datas{
    width: 400px;
}

.home_tittle{
    font-size: 40px;
    margin: 10px 0;
}

.home_description{
    margin-bottom: 18px;
    
}

.home_search{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.input_search{
    width: 100%;
    height: 40px;
    padding-left: 30px;
    border: none;

    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.search_btn{
    height: 40px;
    width: 80px;
    border: none;
    cursor: pointer;
    background-color: var(--vermelho3);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.fa-solid{
    position: absolute;
    padding-left: 8px;
    color: #00000062;
}

.home_info{
    display: flex;
    max-width: 400px;
}

.item_info{
    flex: 100px;
}

.info_h4{
    font-size: 35px;
    color: var(--vermelho3);
}
.info_title{
    font-size: 15px;
    color: #00000070;
}
